# Dependencies
node_modules/
vendor/

# WordPress
*.log
wp-content/uploads/
wp-content/cache/
wp-content/backup*/
wp-config.php

# Local by Flywheel
app/
logs/
conf/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Build
*.map*.bak
